.events-collection {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
	width: 70%;
	margin: 0 auto 1em;
}

@media screen and (width < 768px) {
	.events-collection {
		gap: 30px;
		width: 100%;
		margin: 0 auto;
		scroll-snap-type: y;
	}
}
