.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	padding: 20px;
	color: #ffffff;
	min-height: fit-content;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-logo {
	height: 80px;
	width: auto;
}

@media (max-width: 768px) {
	.header-logo {
		height: 60px;
	}
}

@media (max-width: 480px) {
	.header-logo {
		height: 40px;
	}
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-nav-link {
	margin-left: 20px;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.header-nav-link:hover {
	color: #ff9900;
}
