.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.635);
	padding: 20px;
	color: #ffffff;
	min-height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
	z-index: 1000;
	box-sizing: border-box;
	max-width: 100%;
	overflow-x: hidden;
}

.header * {
	position: relative;
	flex: 1;
	text-align: center;
}

.header-hidden {
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;
}

/* Logo */
.header-logo {
	height: 75px;
	flex: 1;
	border-radius: 50%;
	cursor: pointer;
}

.header-menu-button {
	display: none;
}

.header-nav {
	flex: 2;
}

.header-nav-link {
	margin-left: 20px;
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	width: fit-content;
}

a:hover {
	color: #909090 !important;
}

.header-instagram-container {
	flex: 1;
}

.header-instagram,
.header-instagram svg {
	height: 45px;
	width: 45px;
}

.header-instagram svg {
	cursor: pointer;
}

.header-instagram rect {
	fill: var(--pirate-gold);
}

.header-instagram svg:hover {
	border: 2px solid white;
	border-radius: 50%;
	transition: border 0.3s ease-in;
}

@media (width < 768px) {
	.header-content {
		order: 1;
	}

	.header-menu-button,
	.header-menu-button g {
		display: block;
		order: 0;
		flex: 1;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}

	.header-menu-button path {
		stroke: var(--pirate-gold);
	}

	.header-instagram-container {
		order: 2;
	}

	.header-logo {
		height: 50px;
	}

	.header-nav {
		display: none;
	}

	.header-instagram svg {
		height: 35px;
		width: 35px;
	}
}
