@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: #221810d1;
	font-family: 'Roboto', sans-serif;
	--pirate-gold: #f7c02a;
	--pirate-gold-dark: #f7c02a56;
	--max-index: 99999999;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-repeat: repeat;
	background-size: 100vh;
	background-position: top;
	min-height: 100vh;
	max-width: 100%;
	box-sizing: border-box;
}

main {
	padding-top: 130px;
	min-height: calc(90vh - 75px);
	overflow-x: hidden;
	margin-bottom: 3em;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	flex-shrink: 0;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.section-title {
	width: 100%;
	text-align: center;
	margin: 0.5em 0;
}

.outlined-text {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, 1px 1px 0 #000;
}

.d3-text-white {
	text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 0 0 6px #000;
}

.buy-button:hover {
	background-color: #431009;
}

.buy-button {
	margin-top: 10px;
	padding: 10px;
	background-color: #e8381de6;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: background-color 0.2s ease-in-out;
}

.center {
	margin: auto;
	text-align: center;
}

.mobile-menu,
.mobile-menu-button {
	display: none;
}

.active {
	color: var(--pirate-gold) !important;
}

@keyframes fade-header-in {
	0% {
		opacity: 0;
		transform: translateY(-4rem);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@media (max-width: 768px) {
	main {
		padding-top: 90px;
	}
}

/* Mobile header nav menu */
@media (width < 768px) {
	.mobile-menu {
		display: flex;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: #958763;
		z-index: calc(var(--max-index) - 1);
		align-items: center;
		flex-direction: column;
		justify-content: center;
		animation: fade-header-in 0.5s;
	}

	.mobile-menu-link {
		color: white;
		letter-spacing: 10px;
		text-align: center;
		font-size: 30px;
		text-decoration: none;
		font-weight: 900;
		margin: 5rem auto 5rem 2rem;
	}

	.exit-button-container {
		display: block;
		width: 100%;
		position: fixed;
		z-index: var(--max-index);
	}

	.exit-menu-button {
		display: block;
		width: 40px;
		height: 40px;
		cursor: pointer;
		fill: var(--pirate-gold);
		margin: 2rem auto;
	}
	.exit-menu-button:hover {
		fill: white;
	}

	.section-title {
		margin: 1em 0;
	}
}
