.soon-container {
	margin: 1.5rem auto 0;
	color: white;
	font-size: 30px;
	text-align: center;
	width: 100%;
	height: 100%;
}

.soon-container span {
	width: 100%;
	display: block;
	text-align: center;
}

.soon-container img {
	width: 30%;
	min-width: 250px;
	margin-top: 1rem;
}
