.ticket-selector,
.release-info {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1em;
	margin: 10px auto;
	flex-wrap: wrap;
	background-color: transparent;
	padding: 10px;
	border-radius: 10px;
}

.release-info {
	color: #80808078;
	font-size: 0.8em;
}

.ticket-selector span {
	text-align: center;
}

.ticket-label,
.release-label {
	width: 40%;
}

.ticket-selector-price,
.release-price {
	width: 20%;
}

.release-status {
	text-align: center;
	flex: 1;
}

.counter {
	display: flex;
	background-color: rgba(255, 255, 255, 0.14);
	border-radius: 10px;
	height: 40px;
	line-height: 40px;
	flex: 1;
}

.button-minus,
.button-plus {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 100%;
	border: none;
	border-radius: 50%;
	background: transparent;
	cursor: pointer;
}

.button-minus:hover .minus-svg,
.button-plus:hover .plus-svg {
	fill: var(--pirate-gold);
}

.plus-svg,
.minus-svg {
	width: 10px;
	height: auto;
	display: block;
	line-height: 30px;
	fill: white;
}

.value {
	font-size: 1.2em;
}

.button-minus,
.button-plus,
.value {
	flex: 1;
	padding: 2px;
	text-align: center;
	height: auto;
}

@media (width < 768px) {
	.ticket-selector,
	.release-info {
		background-color: #00000042;
	}

	.ticket-label {
		width: 100% !important;
	}

	.ticket-selector-price,
	.counter {
		min-width: 40%;
	}

	.release-label {
		width: 100px;
		text-align: left;
	}

	.release-price {
		width: 50px;
	}

	.release-status {
		text-align: center;
	}

	.release-info {
		justify-content: center;
	}
}
