h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 90px;
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 0.3em;
	font-size: 100px;
	font-weight: 900;
	width: 100%;
	display: block;
	height: fit-content;
	color: var(--pirate-gold);
	text-shadow: 4px -2px #b18a1f;
}

@media (max-width: 768px) {
	h1 {
		font-size: 48px;
	}
}
