h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 90px;
	font-family: Akira, sans-serif;
	letter-spacing: 0.3em;
	color: var(--pirate-gold);
}

@media (max-width: 768px) {
	h1 {
		font-size: 48px;
	}
}
