h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 90px;
	font-family: Akira, sans-serif;
	letter-spacing: 0.3em;
	color: var(--pirate-gold);
}

@media (max-width: 768px) {
	h1 {
		font-size: 48px;
	}
}

section {
	animation: scale-animation 1s ease-in-out;
}

h1 {
	animation: fade-in 2s ease-in-out;
}

@keyframes scale-animation {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.05);
	}
	50% {
		transform: scale(1.075);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
