.success-message {
	width: 80%;
	margin: 2em auto;
	background-color: #0000004a;
	padding: 1em;
	color: var(--pirate-gold);
}

.success-message h2 {
	font-weight: bold;
}

.success-message span {
	color: red;
}

.success-message .text {
	color: white;
	line-height: 30px;
}
