.scanner {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.action-buttons {
	width: 100%;
	text-align: center;
}

.scanner button {
	width: 100px;
	margin: 10px;
}

.scanner button:hover {
	background-color: lightgray;
}

.scanner video {
	max-width: 100%;
	max-height: 500px;
}

.camera-svg,
.file-image-svg {
	width: 30px;
	height: auto;
	display: block;
	line-height: 30px;
	background-color: transparent;
	margin: 0 auto;
	fill: black;
}
