:root {
	--pirate-gold: #f7c02a;
	background-color: black;
}

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	min-height: 100vh;
	background-image: linear-gradient(to bottom, #000000, #ffc01478);
	background-repeat: repeat;
	background-size: 100vh;
	background-position: top;
}

main {
	padding-top: 130px;
	min-height: 100vh;
}

@media (max-width: 768px) {
	main {
		padding-top: 100px;
	}
}

.outlined-text {
	text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
}

.d3-text-white {
	text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 0 0 6px #000;
}

.d3-pirate-gold {
	text-shadow: 3px 2px 0 #9a844a, 7px 4px 0 #714f0794, 10px 5px 3px #494949;
}
